h1 {
  font-size: 50px;
  font-family: sans-serif;
  padding: 20px 20px 20px 20px;
  text-align: center;
  color: black;
}
h2 {
  font-family: sans-serif;
  color: Navy;
  text-align: left;
}
ul {
     padding: 10px;
     background: #660066;
   }
li {
     display: inline;
     padding: 0px 10px 0px 10px;
   }
img {
      width: 300px;
      height: 228px;
      margin: 20px 0px 0px 0px;
      border: 7px solid black;
      border-radius: 20px;
    }
a {
      color: #cc99ff;
      font-family: sans-serif;
    }
header {
     text-align: center;
     background: url('https://s3.envato.com/files/218937655/590_00032.jpg');
     background-size: cover;
     color: white;
   }
p {
  color: black;
  font-family:sans-serif;
  line-height: 25px;
   }
.link {
  background: black;
 background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
 background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
 background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
 }
body {
     background-color: rgba(153, 153, 255, 1);
   }
